.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: aqua;
}

ul.navItems {
  display: flex;
  list-style-type: none;
  gap: 8px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}