.header {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

ul.navItems {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

ul.navItems a {
  width: 100%;
  display: flex;
  padding: 4px 0;
  justify-content: center;
  background-color: white;
  border-radius: 16px;
  font-size: 1.1rem;
  border: 1px solid #666666;
}

.nav {
  width: 80%;
}

.accountSection {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 8px 0;
}

.accountSection a {
  text-align: center;
  width: 100%;
  padding: 4px 8px;
  background-color: white;
  font-size: 1.1rem;
  border: 1px solid #666666;
  border-radius: 16px;
}

.logoutButton {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  margin: 8px 0;
}

.logoutButton button {
  padding: 4px 8px;
  background-color: white;
  font-size: 1.1rem;
  border: 1px solid #666666;
  border-radius: 16px;
  color: inherit;
}