.form {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.sendForm {
  margin: 8px;
  background-color: inherit;
  color: inherit;
  padding: 8px;
  border: 1px solid #666666;
  border-radius: 16px;
  font-size: 1.1rem;
  width: 50%;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 16px 0;
  width: 80%;
}

.actions button {
  text-align: center;
  width: 100%;
  padding: 4px 8px;
  background-color: white;
  font-size: 1.1rem;
  border: 1px solid #666666;
  border-radius: 16px;
}

.headerTitle {
  text-align: center;
}

